<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>News Search</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            width: 80%;
            margin: 50px auto 100px;
        }
        #json-input {
            display: block;
            width: 100%;
            height: 200px;
        }
        #translate {
            display: block;
            height: 28px;
            margin: 20px 0;
            border-radius: 3px;
            border: 2px solid;
            cursor: pointer;
        }
        #json-display {
            border: 1px solid #000;
            margin: 0;
            padding: 10px 20px;
        }
    </style>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script type="text/javascript" src="/js/jquery.json-editor.min.js"></script>
    <textarea id="json-input" autocomplete="off">
{}
    </textarea>
    <button id="translate">Translate</button>
    <pre id="json-display"></pre>

    <script type="text/javascript">
        function getJson() {
            try {
                return JSON.parse($('#json-input').val());
            } catch (ex) {
                alert('Wrong JSON Format: ' + ex);
            }
        }

        var editor = new JsonEditor('#json-display', getJson());
        $('#translate').on('click', function () {
            editor.load(getJson());
        });
    </script>
</body>

</html>
